*{
    margin:         0px;
    padding:        0px;
    box-sizing:     border-box;
}

body{
    background-color: #E0E0E0;
}

.area{
    width: 85vw;
    margin: auto;
}

.top-bar{
    width: 100vw;
    height: 50px;
    background-color: #2f80ed;
}

.container-esquerda{
    
}

.container-contatos{
    width: 100%;
    height: 90vh;
    float: left;
    padding: 2rem;
    background-color: #F2F2F2;
    border: 1px solid #AEAEAE;
    overflow: auto;
}

.container-direita{
   height: auto;
   margin-left: 1rem; 
   padding: 2rem;
   background-color: #F2F2F2;
   border: 1px solid #AEAEAE;
}

.container-mensagens{
    width: 100%;
    height: 60vh;
    border: 1px solid #AEAEAE;
    overflow: auto;
}

.container-editor{
    width: 100%;
    height: calc(30vh - 4rem);
    border: 1px solid #AEAEAE;
}